<!doctype html>
<html lang="en" data-bs-theme="dark">
<head prefix="og: https://ogp.me/ns#">
    <%- include('snippets/head.ejs'); %>
    <link href="assets/custom/css/index.css" rel="stylesheet">
</head>
<body>

<main>
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom d-flex justify-content-between">
            <a href="/" class="text-body-emphasis text-decoration-none">
                <span class="fs-4">WaifuVault - TEST</span>
            </a>
            <a class="btn btn-secondary" href="https://github.com/waifuvault/WaifuVault" target="_blank"><i class="bi bi-github"></i> Source</a>
        </header>

        <div class="p-5 mb-4 bg-body-tertiary rounded-3 border border-primary-subtle position-relative" id="jumbo">
            <div class="container-fluid py-5 ">
                <h1 class="display-5 fw-bold">No nonsense temporary file hosting</h1>
                <h2 class="fw-bold">Serving <span id="fileCount">0</span> public files totalling
                    <span id="totalFileSize">0kb</span>
                </h2>
                <p class="col-md-8 fs-4">Inspired by
                    <a href="https://0x0.st" target="_blank">https://0x0.st</a>, WaifuVault is a temporary file hosting service that allows for file uploads that are hosted for a set amount of time.
                </p>
                <div class="callToAction">
                    <a class="btn btn-primary btn-lg" type="button" href="/api-docs" target="_blank">Api Documentation</a>
                    <a class="btn btn-warning btn-lg btn-bucket-access" type="button" href="/bucketAccess" target="_blank">Bucket access</a>
                </div>
                <img id="victorique" class="img-fluid" src="assets/custom/images/08.png" alt="logo" />
            </div>
        </div>

        <div class="row align-items-md-stretch mb-4">
            <div class="col-md-4">
                <div class="card text-center border-0">
                    <i class="bi bi-rocket-takeoff"></i>
                    <div class="card-body">
                        <h5 class="card-title">Fast</h5>
                        <p class="card-text">
                            Through the use of ETags and efficient caching, rapid file access and upload.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center border-0">
                    <i class="bi bi-cloud-upload"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Simple</h5>
                        <p class="card-text">
                            Simple API access for file upload. No authorisation is required and is totally free, just upload your file.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card text-center border-0">
                    <i class="bi bi-clock-history"></i>
                    <div class="card-body text-center">
                        <h5 class="card-title">Temporary</h5>
                        <p class="card-text">
                            All files uploaded are temporary, and will be deleted once their allotted lifespan expires.
                            Shorter lifespans can be specified at upload.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mb-4">
            <div class="col-md-12">
                <div class="h-100 p-5 text-bg-dark rounded-3 border border-warning-subtle bg-body-tertiary">
                    <h2 class="mb-4 text-center">Features</h2>
                    <div class="row align-items-md-stretch mb-4">
                        <div class="col-md-4">
                            <div class="card text-center border-0 bg-transparent">
                                <i class="bi bi-key"></i>
                                <div class="card-body">
                                    <h5 class="card-title">Encrypted files</h5>
                                    <p class="card-text">
                                        When you specify a password with your upload, your file is encrypted using AES-256 on the server, so no one other than those with the password can download it.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center border-0 bg-transparent">
                                <i class="bi bi-binoculars"></i>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Hide filenames</h5>
                                    <p class="card-text">
                                        Hide the original filename, the result would be a shortened URL that you can use that won't contain the original filename.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center border-0 bg-transparent">
                                <i class="bi bi-stopwatch"></i>
                                <div class="card-body text-center">
                                    <h5 class="card-title">Custom retention period</h5>
                                    <p class="card-text">
                                        You are able to specify a shorter expiry for files on upload down to 1 minute.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-md-stretch mb-4">
                        <div class="col-md-12">
                            <div class="card text-center border-0 bg-transparent">
                                <i class="bi bi-bucket"></i>
                                <div class="card-body">
                                    <h5 class="card-title">Buckets</h5>
                                    <p class="card-text">
                                         Create anonymous buckets to manage and see stats of your files.
                                        No need to signup,
                                        just call our createBucket endpoint
                                        and use the returned token to access the bucket
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mb-4">
            <div class="col-md-6">
                <div class="h-100 p-5 text-bg-dark rounded-3 border border-danger-subtle bg-body-tertiary">
                    <h2>Restrictions</h2>
                    <p>The following cannot be uploaded, and any uploads in violation of this will be IP banned</p>
                    <ul class="list-group mb-4 mt-4">
                        <li class="list-group-item">Piracy</li>
                        <li class="list-group-item">Extremist material</li>
                        <li class="list-group-item">Malware</li>
                        <li class="list-group-item">Crypto shit</li>
                        <li class="list-group-item">Anything illegal under British Law</li>
                        <li class="list-group-item">File Limit: <%- process.env.FILE_SIZE_UPLOAD_LIMIT_MB; -%>MB</li>
                    </ul>
                    <p>The amount of time a given file is hosted for is determined by its size. Files are hosted for a maximum of 365 days, with the time being shortened on a cubic curve.</p>
                    <p>This means for files up to about 50% of the maximum file size will get close to the maximum time. All files will be retained for at LEAST 30 days</p>
                    <p>Use the control below to see how long a file will be retained for</p>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="caculateFileTime">
                        <div class="alert alert-success mt-2 hidden" role="alert" id="okFileSize"></div>
                        <div class="alert alert-danger mt-2 hidden" role="alert" id="badFileSize">File exceeds max size of <%- process.env.FILE_SIZE_UPLOAD_LIMIT_MB; -%>MB</div>

                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="h-100 p-5  border border-info-subtle rounded-3">
                    <h2>Privacy Policy</h2>
                    <p>The following information about you is obtained for each upload</p>
                    <ul class="list-group mb-4 mt-4">
                        <li class="list-group-item">IP address</li>
                        <li class="list-group-item">User agent</li>
                    </ul>
                    <p>No data is shared with third parties, and data will be deleted permanently when the file expires or is deleted by the user</p>
                    <p>If we believe the release of this information is necessary to respond to a legal process, to investigate or
                        remedy potential violations of our policies, or to protect the rights, property, and safety of others,
                        we may share your information as permitted or required by any applicable law, rule, or regulation.</p>
                    <p>No uniform technology standard for recognising and implementing Do-Not-Track(DNT) signals has been finalised.
                        As such, we do not currently respond to DNT browser signals or any other mechanism that automatically
                        communicates your choice not to be tracked online.</p>
                    <p>While we have taken reasonable steps to secure any information you provide to us, please be aware that despite our efforts,
                        no security measures are perfect or impenetrable. No method of data transmission can be guaranteed against any interception
                        or other type of misuse. Any information disclosed online is potentially vulnerable to interception and misuse by unauthorised parties.</p>
                    <a class="btn btn-secondary btn-sm mt-3" href="mailto:victoria@waifuvault.moe">Contact me if you have any issues</a>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mb-4">
            <div class="col-md-12">
                <div id="sdkWrapper" class="h-100 p-5 text-bg-dark rounded-3 border border-warning-subtle bg-body-tertiary">
                    <h2 class="mb-4 text-center">Bespoke SDKs</h2>
                    <h6 class="text-center mb-4">Official SDKs for interacting with waifuvault</h6>
                    <div class="row align-items-md-stretch mb-4">
                        <div class="col-md-3">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" src="assets/custom/icons/icons8-nodejs.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">Node.js</h5>
                                    <p class="card-text">
                                        The official Node.js SDK
                                    </p>
                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="https://www.npmjs.com/package/waifuvault-node-api" target="_blank">Node SDK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" src="assets/custom/icons/icons8-python.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">Python</h5>
                                    <p class="card-text">
                                        The official Python SDK
                                    </p>
                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm mb-3" href="https://pypi.org/project/waifuvault/" target="_blank">Python SDK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" style="width: 35px;" src="assets/custom/icons/gopher.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">Go</h5>
                                    <p class="card-text">
                                        The official Go SDK
                                    </p>
                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm mb-3" href="https://pkg.go.dev/github.com/waifuvault/waifuVault-go-api" target="_blank">Go SDK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" src="assets/custom/icons/icons8-c-sharp-logo.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">C#</h5>
                                    <p class="card-text">
                                        The official C# SDK
                                    </p>
                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm mb-3" href="https://www.nuget.org/packages/Waifuvault" target="_blank">C# SDK</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-md-stretch mb-4 justify-content-md-center">
                        <div class="col-md-6">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" style="width:80px;margin-bottom:-26px;margin-top:-10px;" src="assets/custom/icons/rust.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">Rust</h5>
                                    <p class="card-text">
                                        The official Rust SDK
                                    </p>
                                    <a class="btn btn-primary btn-sm w-25 sdkButton" href="https://crates.io/crates/waifuvault" target="_blank">Rust SDK</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card border-0 bg-transparent">
                                <img class="img-fluid ms-auto me-auto customIcon" style="width: 80px;" src="assets/custom/icons/Official%20PHP%20Logo.svg" />
                                <div class="card-body text-center">
                                    <h5 class="card-title">PHP</h5>
                                    <p class="card-text">
                                        The official PHP SDK
                                    </p>
                                        <a class="btn btn-primary btn-sm w-25 sdkButton" href="https://packagist.org/packages/ernestmarcinko/waifuvault-php-api" target="_blank">PHP SDK</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-md-stretch mb-4">
            <div class="col-md-12">
                <div class="h-100 p-5 text-bg-dark rounded-3 border border-success-subtle bg-body-tertiary">
                    <h2>Examples</h2>
                    <p>Please refer to the
                        <a href="/api-docs" target="_blank">Swagger</a> for full api documentation including endpoints and optional arguments you can pass.
                    </p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="curl-tab" data-bs-toggle="tab" data-bs-target="#curl-tab-pane" type="button" role="tab" aria-controls="curl-tab-pane" aria-selected="true">Curl</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="node-tab" data-bs-toggle="tab" data-bs-target="#node-tab-pane" type="button" role="tab" aria-controls="node-tab-pane" aria-selected="false">Node</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="go-tab" data-bs-toggle="tab" data-bs-target="#go-tab-pane" type="button" role="tab" aria-controls="go-tab-pane" aria-selected="false">Go</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="cs-tab" data-bs-toggle="tab" data-bs-target="#cs-tab-pane" type="button" role="tab" aria-controls="cs-tab-pane" aria-selected="false">C#</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="java-tab" data-bs-toggle="tab" data-bs-target="#java-tab-pane" type="button" role="tab" aria-controls="java-tab-pane" aria-selected="false">Java</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="python-tab" data-bs-toggle="tab" data-bs-target="#python-tab-pane" type="button" role="tab" aria-controls="python-tab-pane" aria-selected="false">Python</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="rust-tab" data-bs-toggle="tab" data-bs-target="#rust-tab-pane" type="button" role="tab" aria-controls="rust-tab-pane" aria-selected="false">Rust</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="php-tab" data-bs-toggle="tab" data-bs-target="#php-tab-pane" type="button" role="tab" aria-controls="php-tab-pane" aria-selected="false">PHP</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="curl-tab-pane" role="tabpanel" aria-labelledby="curl-tab" tabindex="0">
<pre><code class="language-curl">
// upload file via URL
curl --request PUT --url <%- process.env.BASE_URL; -%>/rest --data url=https://victorique.moe/img/slider/Quotes.jpg

// upload file via File
curl --request PUT --url <%- process.env.BASE_URL; -%>/rest --header 'Content-Type: multipart/form-data' --form file=@someFile.png
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="node-tab-pane" role="tabpanel" aria-labelledby="node-tab" tabindex="0">
                            <p>For Node, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://www.npmjs.com/package/waifuvault-node-api" target="_blank">WaifuVault Node API</a>
                            <pre><code class="language-ts">
import Waifuvault from "waifuvault-node-api";

// upload file
const resp = await Waifuvault.uploadFile({
    file: "./files/aCoolFile.jpg"
});
console.log(resp.url); // the file download URL

// upload via URL
const resp = await Waifuvault.uploadFile({
    url: "https://waifuvault.moe/assets/custom/images/08.png"
});
console.log(resp.url); // the file download URL

// upload a buffer
const resp = await Waifuvault.uploadFile({
    file: Buffer.from("someData"),
    filename: "aCoolFile.jpg"
});
console.log(resp.url); // the file download URL
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="go-tab-pane" role="tabpanel" aria-labelledby="go-tab" tabindex="0">
                            <p>For Go, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://pkg.go.dev/github.com/waifuvault/waifuVault-go-api" target="_blank">WaifuVault Go API</a>
                            <pre><code class="language-go">
//upload via URL
package main

import (
	"context"
	"fmt"
	"github.com/waifuvault/waifuVault-go-api/pkg"
	waifuMod "github.com/waifuvault/waifuVault-go-api/pkg/mod" // namespace mod
	"net/http"
)

func main() {
	api := waifuVault.NewWaifuvaltApi(http.Client{})
	file, err := api.UploadFile(context.TODO(), waifuMod.WaifuvaultPutOpts{
		Url: "https://waifuvault.moe/assets/custom/images/08.png",
	})
	if err != nil {
		return
	}
	fmt.Printf(file.URL) // the URL
}

// upload file
package main

import (
	"context"
	"fmt"
	"github.com/waifuvault/waifuVault-go-api/pkg"
	waifuMod "github.com/waifuvault/waifuVault-go-api/pkg/mod"
	"net/http"
	"os"
)

func main() {
	api := waifuVault.NewWaifuvaltApi(http.Client{})

	fileStruc, err := os.Open("myCoolFile.jpg")
	if err != nil {
		fmt.Print(err)
	}

	file, err := api.UploadFile(context.TODO(), waifuMod.WaifuvaultPutOpts{
		File: fileStruc,
	})
	if err != nil {
		return
	}
	fmt.Printf(file.URL) // the URL
}

// upload buffer
package main

import (
	"context"
	"fmt"
	"github.com/waifuvault/waifuVault-go-api/pkg"
	waifuMod "github.com/waifuvault/waifuVault-go-api/pkg/mod"
	"net/http"
	"os"
)

func main() {
	api := waifuVault.NewWaifuvaltApi(http.Client{})

	b, err := os.ReadFile("myCoolFile.jpg")
	if err != nil {
		fmt.Print(err)
	}

	file, err := api.UploadFile(context.TODO(), waifuMod.WaifuvaultPutOpts{
		Bytes:    &b,
		FileName: "myCoolFile.jpg", // make sure you supply the extension
	})
	if err != nil {
		return
	}
	fmt.Printf(file.URL) // the URL
}
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="python-tab-pane" role="tabpanel" aria-labelledby="python-tab" tabindex="0">
                            <p>For Python, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://pypi.org/project/waifuvault/" target="_blank">WaifuVault Python API</a>
                            <pre><code class="language-python">
import waifuvault
import io

# upload file
upload_file = waifuvault.FileUpload("./files/aCoolFile.png")
upload_res = waifuvault.upload_file(upload_file)
print(upload_res.url)

# upload via URL
upload_file = waifuvault.FileUpload("https://waifuvault.moe/assets/custom/images/08.png")
upload_res = waifuvault.upload_file(upload_file)
print(upload_res.url)

# upload a buffer
with open("./files/aCoolFile.png", "rb") as fh:
    buf = io.BytesIO(fh.read())

upload_file = waifuvault.FileUpload(buf, "aCoolFile.png")
upload_res = waifuvault.upload_file(upload_file)
print(upload_res.url)
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="cs-tab-pane" role="tabpanel" aria-labelledby="cs-tab" tabindex="0">
                            <p>For C#, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://www.nuget.org/packages/Waifuvault" target="_blank">WaifuVault C# API</a>
                            <pre><code class="language-cs">
using Waifuvault;
using System.IO;

// Upload file
var uploadFile = new Waifuvault.FileUpload("./aCoolFile.png");
var uploadResp = await Waifuvault.Api.uploadFile(uploadFile);
Console.WriteLine(uploadResp.url);

// Upload via URL
var uploadFile = new Waifuvault.FileUpload("https://waifuvault.moe/assets/custom/images/08.png");
var uploadResp = await Waifuvault.Api.uploadFile(uploadFile);
Console.WriteLine(uploadResp.url);

// Upload via Buffer
byte[] buffer = File.ReadAllBytes("./aCoolFile.png");
var uploadFile = new Waifuvault.FileUpload(buffer,"aCoolFile.png");
var uploadResp = await Waifuvault.Api.uploadFile(uploadFile);
Console.WriteLine(uploadResp.url);
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="rust-tab-pane" role="tabpanel" aria-labelledby="rust-tab" tabindex="0">
                            <p>For Rust, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://crates.io/crates/waifuvault" target="_blank">WaifuVault Rust API</a>
                            <pre><code class="language-rust">
use waifuvault::{
    ApiCaller,
    api::{WaifuUploadRequest, WaifuResponse}
};

#[tokio::main]
async fn main() -> anyhow::Result<()> {
    let caller = ApiCaller::new();

    // Upload a file from disk
    let request = WaifuUploadRequest::new()
        .file("/some/file/path") // Path to a file
        .password("set a password") // Set a password
        .one_time_download(true); // Delete after first access
    let response = caller.upload_file(request).await?;

    // Upload a file from a URL
    let request = WaifuUploadRequest::new()
        .url("https://some-website/image.jpg"); // URL to content
    let response = caller.upload_file(request).await?;

    // Upload a file from raw bytes
    let data = std::fs::read("some/file/path")?;
    let request = WaifuUploadRequest::new()
        .bytes(data, "name-to-store.rs"); // Raw file content and name to store on the vault
    let response = caller.upload_file(request).await?;

    Ok(())
}
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="php-tab-pane" role="tabpanel" aria-labelledby="php-tab" tabindex="0">
                            <p>For PHP, there is an official SDK that provides access to all of the features of the site.</p>
                            <a class="btn btn-primary btn-sm mb-3" href="https://packagist.org/packages/ernestmarcinko/waifuvault-php-api" target="_blank">WaifuVault PHP API</a>
<pre><code class="language-php">
// Upload file
use ErnestMarcinko\WaifuVault\WaifuApi;

$waifu = new WaifuApi();
$response = $waifu->uploadFile(array(
	'file' =>   __DIR__ . '/image.jpg',
));
var_dump($response);

// Upload via URL
use ErnestMarcinko\WaifuVault\WaifuApi;

$waifu = new WaifuApi();
$response = $waifu->uploadFile(array(
	'url' =>   'https://waifuvault.moe/assets/custom/images/08.png',
));
var_dump($response);

// Upload via Buffer
use ErnestMarcinko\WaifuVault\WaifuApi;

$waifu = new WaifuApi();
$response = $waifu->uploadFile(array(
	'file_contents' => file_get_contents(__DIR__ . '/image.jpg'),
	'filename' => 'image.jpg',
));
var_dump($response);
</code>
</pre>
                        </div>
                        <div class="tab-pane fade" id="java-tab-pane" role="tabpanel" aria-labelledby="java-tab" tabindex="0">
<pre><code class="language-java">
// using Apache HttpClient

import org.apache.http.client.ResponseHandler;
import org.apache.http.client.methods.RequestBuilder;
import org.apache.http.entity.mime.HttpMultipartMode;
import org.apache.http.entity.mime.MultipartEntityBuilder;
import org.apache.http.impl.client.HttpClients;
import org.apache.http.util.EntityUtils;

import java.io.IOException;
import java.nio.file.Path;

public class Example {

  private static void uploadFile(final Path file) throws IOException {
    try (final var httpclient = HttpClients.createDefault()) {
      final var data = MultipartEntityBuilder.create().setMode(HttpMultipartMode.BROWSER_COMPATIBLE)
          .addBinaryBody("file", file.toFile())
          .build();
      final var request = RequestBuilder.put("<%- process.env.BASE_URL; -%>/rest").setEntity(data).build();
      final ResponseHandler<String> responseHandler = response -> response.getEntity() != null ? EntityUtils.toString(response.getEntity()) : null;
      final var responseBody = httpclient.execute(request, responseHandler);
      System.out.println(responseBody);
    }
  }

  private static void uploadUrl(final String url) throws IOException {
    try (final var httpclient = HttpClients.createDefault()) {
      final var data = MultipartEntityBuilder.create().setMode(HttpMultipartMode.BROWSER_COMPATIBLE)
          .addTextBody("url", url)
          .build();
      final var request = RequestBuilder.put("<%- process.env.BASE_URL; -%>/rest").setEntity(data).build();
      final ResponseHandler<String> responseHandler = response -> response.getEntity() != null ? EntityUtils.toString(response.getEntity()) : null;
      final var responseBody = httpclient.execute(request, responseHandler);
      System.out.println(responseBody);
    }
  }
}

</code>
</pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<%- include('snippets/scripts.ejs'); %>
<script src="<%- process.env.BASE_URL; -%>/socket.io/socket.io.min.js"></script>
<script>
    Site.loadPage(async () => {

        const socket = io(`${mainRul}/recordInfo`, {
            path: '/socket.io/recordInfo'
        });

        const fileCountSpan = document.getElementById("fileCount");
        const totalFileSizeSpan = document.getElementById("totalFileSize");

        hljs.highlightAll();
        const caculateFileInput = document.getElementById("caculateFileTime");
        const MIN_EXPIRATION = 30 * 24 * 60 * 60 * 1000;
        const MAX_EXPIRATION = 365 * 24 * 60 * 60 * 1000;
        caculateFileInput?.addEventListener("change", () => {
            const okFileSize = document.getElementById("okFileSize");
            const badFileSize = document.getElementById("badFileSize");
            toggleShow(badFileSize, false);
            toggleShow(okFileSize, false);
            const file = caculateFileInput.files[0];
            const fileSize = file.size;
            if (fileSize > fileSizeLimit) {
                toggleShow(badFileSize, true);
                toggleShow(okFileSize, false);
                return;
            }
            okFileSize.innerText = timeToHuman(getTimeLeftBySize(file.size));
            toggleShow(badFileSize, false);
            toggleShow(okFileSize, true);
        });

        function getTimeLeftBySize(filesize) {
            const ttl = Math.floor((MIN_EXPIRATION - MAX_EXPIRATION) * Math.pow((filesize / (fileSizeLimit) - 1), 3));
            return ttl < MIN_EXPIRATION ? MIN_EXPIRATION : ttl;
        }

        function toggleShow(el, show) {
            show ? el.classList.remove("hidden") : el.classList.add("hidden");
        }

        function timeToHuman(value) {
            const seconds = value / 1000;
            const levels = [
                [Math.floor(seconds / 31536000), "years"],
                [Math.floor((seconds % 31536000) / 86400), "days"],
                [Math.floor(((seconds % 31536000) % 86400) / 3600), "hours"],
                [Math.floor((((seconds % 31536000) % 86400) % 3600) / 60), "minutes"],
                [Math.floor((((seconds % 31536000) % 86400) % 3600) % 60), "seconds"]
            ];
            let returnText = "";
            for (let i = 0, max = levels.length; i < max; i++) {
                if (levels[i][0] === 0) {
                    continue;
                }
                returnText += ` ${levels[i][0]} ${levels[i][0] === 1 ? levels[i][1].substr(0, levels[i][1].length - 1) : levels[i][1]}`;
            }
            return returnText.trim();
        }

        function loadSocket() {
            socket.on("record", ({ recordCount, recordSize }) => {
                fileCountSpan.innerText = recordCount.toLocaleString();
                totalFileSizeSpan.innerText = recordSize;
            });
        }

        loadSocket();
    })
</script>
</body>
</html>
