<%
function getCaptcha() {
    switch (captchaType) {
        case "turnstile":
            return "https://challenges.cloudflare.com/turnstile/v0/api.js";
        case "reCAPTCHA":
            return "https://www.google.com/recaptcha/api.js";
        case "hCaptcha":
            return "https://js.hcaptcha.com/1/api.js";
        default:
            return "";
    }
}
function getHtml() {
    switch (captchaType) {
        case "turnstile":
            return `<div class="cf-turnstile" data-theme="dark" data-sitekey="${process.env.CAPTCHA_SITE_KEY}"></div>`;
        case "reCAPTCHA":
            return `<div class="g-recaptcha" data-theme="dark" data-sitekey="${process.env.CAPTCHA_SITE_KEY}"></div>`;
        case "hCaptcha":
            return `<div class="h-captcha" data-theme="dark" data-sitekey="${process.env.CAPTCHA_SITE_KEY}"></div>`;
        default:
            return "";
    }
}
%>

<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <%- include('snippets/head.ejs'); %>
    <title>Login - WaifuVault</title>
    <style>

        a {
            text-decoration: none;
        }

        .g-recaptcha > div {
            margin-top: 1em;

            text-align: center;
            width: auto !important;
            height: auto !important;
        }

        #g-recaptcha-response {
            display: block !important;
            position: absolute;
            margin: -78px 0 0 0 !important;
            width: 302px !important;
            height: 76px !important;
            z-index: -999999;
            opacity: 0;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center text-dark mt-5">Login</h2>
            <div class="card my-5 border-primary">
                <div class="card-header text-center">
                    Login
                </div>
                <div class="card-body">
                    <form class="p-lg-3" action="/rest/auth/login" method="post">
                        <div class="form-floating mb-3">
                            <input required name="email" type="email" class="form-control" id="floatingInputPassword"
                                   placeholder="name@example.com">
                            <label for="floatingInputPassword">Email address</label>
                        </div>
                        <div class="mb-3">
                            <div class="form-floating">
                                <input required name="password" type="password" class="form-control" id="floatingPassword"
                                       placeholder="Password">
                                <label for="floatingPassword">Password</label>
                            </div>
                        </div>
                        <div class="mb-3 text-center">
                            <%- getHtml() -%>
                        </div>
                        <div class="text-center">
                            <div class="d-grid gap-2">
                                <button type="submit" class="btn btn-outline-success">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
                <% if(typeof internalError !== "undefined") { %>
                    <div class="card-footer">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <%- message -%>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<% const captchaJsUrl = getCaptcha(); %>
<% if(captchaJsUrl){ %>
<script src="<%- getCaptcha() -%>" async defer></script>
<% } %>
<%- include('snippets/scripts.ejs'); %>
</html>
